@import"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap";
@import"https://assets.nopixel.net/web/fonts/gilroy/stylesheet.css";
@import"https://assets.nopixel.net/web/fonts/nekst/stylesheet.css";
@import"https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap";

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.container {
    width: 100%
}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}

.absolute {
    position: absolute
}

.flex {
    display: flex
}

.h-full {
    height: 100%
}

.w-full {
    width: 100%
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.gap-\[1vh\] {
    gap: 1vh
}

:root {
    font-size: 1.4vh
}

body {
    margin: 0;
    overflow: hidden
}

h1,
h2,
p {
    padding: 0;
    margin: 0
}

*,
:before,
:after {
    border-width: 0;
    box-sizing: border-box
}

@font-face {
    font-family: Agency FB;
    src: url(./assets/AGENCYB-4fde694c.TTF);
    font-weight: 700;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: Agency FB;
    src: url(./assets/AGENCYR-d672eb87.TTF);
    font-weight: 400;
    font-style: normal;
    font-display: block
}

.scaleIn-enter-active,
.scaleIn-exit-active {
    transition: opacity .25s, transform .25s
}

.scaleIn-enter,
.scaleIn-exit-to {
    transform: scale(0);
    opacity: 0
}

.scaleIn-enter {
    transform: scale(0)
}

.container-header {
    position: relative;
    width: calc(.092592592vh * 417);
    height: calc(.092592592vh * 740);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(15, 16, 21, .92) .01%, rgba(34, 37, 48, .78) 46.86%, #222530 99.99%);
    padding: calc(.092592592vh * 55) calc(.092592592vh * 15);
    gap: calc(.092592592vh * 15);
    overflow: hidden;
    border-radius: calc(.092592592vh * 4)
}

.container-header * {
    z-index: 99
}

.container-header:before {
    content: "";
    position: absolute;
    width: calc(.092592592vh * 394);
    height: calc(.092592592vh * 394);
    flex-shrink: 0;
    margin-top: calc(.092592592vh * -154);
    margin-left: calc(.092592592vh * 100);
    border-radius: calc(.092592592vh * 394);
    background: rgba(0, 248, 185, .55);
    filter: blur(calc(.092592592vh * 240.6000061035))
}

.container-header:after {
    content: "";
    position: absolute;
    width: calc(.092592592vh * 394);
    height: calc(.092592592vh * 394);
    flex-shrink: 0;
    margin-top: calc(.092592592vh * -154);
    margin-left: calc(.092592592vh * -100);
    border-radius: calc(.092592592vh * 394);
    background: rgba(0, 248, 185, .55);
    filter: blur(calc(.092592592vh * 240.6000061035))
}

.container-header h1 {
    color: #00f8b9;
    text-align: center;
    text-shadow: 0px calc(.092592592vh * 4) calc(.092592592vh * 28) rgba(0, 248, 185, .55);
    font-family: Agency FB;
    font-size: calc(.092592592vh * 32);
    font-style: normal;
    font-weight: 700;
    line-height: 108.5%
}

.container-header p {
    width: calc(.092592592vh * 292);
    color: #ffffff8c;
    text-align: center;
    font-family: Gilroy;
    font-size: calc(.092592592vh * 12);
    font-style: normal;
    font-weight: 400;
    line-height: 20%;
}

.container-header .divider-header {
    width: 100%;
    height: calc(.092592592vh * 1);
    flex-shrink: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .25) 48.67%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center
}

.container-header .divider-header .line-header {
    width: calc(.092592592vh * 218);
    height: calc(.092592592vh * 3);
    flex-shrink: 0;
    background: #00f8b9;
    box-shadow: 0 0 calc(.092592592vh * 21) 0 #00f8b9
}

.container-header .input-container {
    width: calc(.092592592vh * 323);
    height: calc(.092592592vh * 61);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .25)
}

.container-header .input-container .code-header {
    color: #00f8b9;
    text-align: center;
    text-shadow: 0px 0px calc(.092592592vh * 16.2) #00f8b9;
    font-family: Gilroy;
    font-size: calc(.092592592vh * 20);
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%
}

.container-header .button-header {
    width: calc(.092592592vh * 100);
    height: calc(.092592592vh * 100);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px calc(.092592592vh * 16.2) #fff;
    font-family: Gilroy;
    font-size: calc(.092592592vh * 24);
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%;
    border-radius: calc(.092592592vh * 2);
    border: calc(.092592592vh * 1) solid rgba(255, 255, 255, .25);
    background: radial-gradient(79% 79% at 50% 50%, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer
}

.container-header .button-header:hover {
    border: calc(.092592592vh * 1) solid rgba(255, 255, 255, .65);
    background: radial-gradient(79% 79% at 50% 50%, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, .12) 100%)
}

.container-header .button-header._big_h4io5_123 {
    width: calc(.092592592vh * 212)
}

.container-header .button-header.delete-header {
    border: calc(.092592592vh * 1) solid rgba(248, 105, 105, .25);
    background: radial-gradient(79% 79% at 50% 50%, rgba(248, 105, 105, .15) 0%, rgba(248, 105, 105, 0) 100%);
    font-size: calc(.092592592vh * 32);
    color: #f86969;
    text-shadow: 0px 0px calc(.092592592vh * 16.2) #f86969
}

.container-header .button-header.delete-header:hover {
    border: calc(.092592592vh * 1) solid rgba(248, 105, 105, .65);
    background: radial-gradient(79% 79% at 50% 50%, rgba(248, 105, 105, .25) 0%, rgba(248, 105, 105, .12) 100%)
}